/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 20px;
    justify-content: space-between;
}

.hamburger .bar {
    height: 4px;
    background-color: white;
    width: 100%;
}

/* Main Content */
main {
    margin-top: 70px;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.logo img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    float: left;
}

header .logo h1 {
    margin: 0;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
}

.register td{
    text-align: left;
}

.register th{
    text-align: left;
}

.login .first {
    text-align: right;
}

.login .second {
    text-align: left;
}

.message{
    text-align: left;
    color: red;
}

/* .courses .first {
    text-align: left;
}

.courses .second {
    text-align: left;
} */

/*courses page css start */
table.courses {
    /*border-width: 2px;
    border-style: dotted;
    width: 100%;*/
    margin-top: 30px;
    border-collapse: collapse;
}

table.courses td {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

table.courses td.first {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
}

table.courses td.second {
    font-size: 16px;
    color: #7f8c8d;
}

table.courses td a.course-link {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
    transition: color 0.3s;
}

table.courses td a.course-link:hover {
    color: #e74c3c;
}
/*courses page css end */

/*About page css start*/
.about-section {
    text-align: left;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.about-section h3 {
    font-size: 22px;
    color: #007bff;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}
/*About page css end*/

/*contact us page css start*/
.contact-info {
    margin-top: 40px;
    margin-left: 40px;
    text-align: left;
}

.contact-info p {
    font-size: 16px;
    color: #555;
}
/*contact us page css end*/

/*index page css start*/
.home {
    padding: 60px 20px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.home h1 {
    font-size: 36px;
    color: #2980b9;
    margin-bottom: 20px;
    font-weight: bold;
}

.home p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.home a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    padding: 15px 30px;
    margin: 10px 15px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home a:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}
/*index page css end*/

/*login page css start*/
.login-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }

  .login {
    width: 100%;
    border-collapse: collapse;
  }

  .login th {
    text-align: left;
    font-size: 24px;
    color: #333;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .login td {
    padding: 10px 0;
  }

  .first {
    font-size: 14px;
    color: #333;
    padding-right: 10px;
    width: 30%;
    text-align: right;
  }

  .second {
    width: 70%;
  }

  .second span{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    background-color: #007bff;
    user-select: none;/*no highlight on select*/
  }

  .second input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .second select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .second button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }

  .second button:hover {
    background-color: #0056b3;
  }

  .second a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }

  .second a:hover {
    text-decoration: underline;
  }

  /* Forgot password, Sign-up links */
  .second {
    font-size: 14px;
    text-align: center;
  }

  .second a {
    margin-top: 10px;
  }

  .second p {
    margin-top: 10px;
    font-size: 14px;
  }
/*login page css end*/

/*quick link at the bottom of the form*/

.td_bottomlink{
    text-align: left;
}

/*
.bottomlink a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}*/

.bottomlink a:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.bottomlink a{
    text-align: left;
}
.dropdown {
    text-align: left;
}

.payment_contatiner
{
    text-align: left;
    margin:10px;
}

.payment_details
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#rzp-button1
{
    background-color: green;
    padding: 10px;
    color: white;
}

.pay_success
{
    display: inline-flex;
    margin-top: 10px;
    color: white;
    background-color: green;
    padding: 5px;
}

.pay_failure
{
    display: inline-flex;
    margin-top: 10px;
    color: white;
    background-color: red;
}

.btn_init_payment, .upload_button
{
    display: inline-block;
    border-width: 0px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    padding: 15px 30px;
    margin: 10px 15px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.refresh_link
{
    display: inline-block;
    border-width: 0px;
    font-size: 12px;
    color: #fff;
    background-color: #007bff;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.receipts_contatiner
{
    width: 100%;
}

.receipts_container, .notes_data, .video_data, .upload_container
{
    padding: 0px;
    border-collapse: collapse;
}

.receipts_container th, .notes_data th, .video_data th
{
    padding: 5px;
}

.notes_link
{
    display: inline-block;
    border-width: 0px;
    font-size: 12px;
    color: #fff;
    background-color: #007bff;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/*upload page css start*/

/*upload page css end*/


/* Mobile Responsiveness */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #007bff;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        padding: 10px;
        text-align: center;
        width: 100%;
        display: block;
    }

    .hamburger {
        display: flex;
    }

    nav.active ul {
        display: flex;
    }
    /*index page css start*/
    .home h1 {
        font-size: 28px;
    }

    .home p {
        font-size: 16px;
    }

    .home a {
        padding: 12px 25px;
        font-size: 16px;
    }

    .logo img{
        width: 30px;
        height: 30px;
        margin-right: 20px;
        float: left;
    }

    header .logo h1 {
        margin: 0;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
    }
    /*index page css end*/
}
